[submodule "web/ecopad_portal"]
	path = web/ecopad_portal
	url = https://github.com/ou-ecolab/ecopad_portal.git
[submodule "dc_config/images/local_fortran_example"]
	path = dc_config/images/local_fortran_example
	url = https://github.com/ou-ecolab/local_fortran_example.git
[submodule "dc_config/images/EcopadDockerContainerExample"]
	path = dc_config/images/EcopadDockerContainerExample
	url = https://github.com/ou-ecolab/EcopadDockerContainerExample.git
